.contacts_wraper {
  max-width: 450px;
}

.contacts_list {
  padding-left: 100px;
  font-weight: 400;
  font-size: 20px;
  list-style-type: disc;
  list-style-position: inside;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}
.contactItem {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
}
.btn {
  display: block;

  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #315bd1;
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  background-color: #0b1baa;
}

.btn:active {
  background-color: #0b1baa;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
